<div class="container mt-3">
  <h1 class="fw-bold">New game</h1>
  <p>Your current score: <%= session[:score].nil? ? 0 : session[:score] %> pts.</p> 
  <div id="list">
    <div id="firstLetters">
      <% @random_grid.each do |letter|  %>
        <div class="letter"><%= letter %></div>
      <% end %>
    </div>
    <br>
    <p>What is the longest word you can find?</p>
    <div id="secondLetters">
    </div>
  </div>
  <br>
  <div>
    <form action="/score" method="post" class="mt-3 d-flex align-items-center justify-content-around">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :grid, @random_grid %>
      <input id="word" type="hidden" name="word" placeholder="Type a word" value="">
      <input id="submit" class="btn btn-primary w-25" type="submit" value="Play">
    </form>
  </div>
</div>
